.env
__pycache__/
*.py[cod]
config/.HA_VERSION
config/.storage/
config/.cloud/
config/deps/
config/backups/
config/tts/
config/home-assistant.log*
config/home-assistant_v2.db*
config/secrets.yaml
config/*.backup
config/*.bak
